/*===========================================
Colors
===========================================*/
$base-color: #575555;
$theme-color: #e74f3f;


/*===========================================
Fonts
===========================================*/
$base-font: 'Montserrat'; /* Base font */
$base-font-weight: normal;
$base-font-style: normal;
$base-font-size: 45px;


